nav.locale-wrapper
	ul.locale__list
		li.locale__item
			a.locale__link(id="ru" title="Russian")
				img.locale__img(src="../img/locale/russian.png")
		li.locale__item
			a.locale__link(id="en" title="English")
				img.locale__img(src="../img/locale/english.png")
		li.locale__item
			a.locale__link(id="gb" title="German")
				img.locale__img(src="../img/locale/german.png")
		li.locale__item
			a.locale__link(id="fr" title="French")
				img.locale__img(src="../img/locale/french.png")
		li.locale__item
			a.locale__link(id="tur" title="Turkish")
				img.locale__img(src="../img/locale/turkish.png")
		li.locale__item
			a.locale__link(id="po" title="Poland")
				img.locale__img(src="../img/locale/poland.png")