extends ../template.pug
block link
	-var selected = 'News'
block title
	| Crypto Agent Bot: CAB - Crypto Agent Bot CAB Review: Cryptocurrency Trade Signals Group Telegram
block content
	main.maincontent
		.news--wrapper.flex-container
			article.news__card
				div.news__descr--wrapper
					h3.news__heading Lorem, ipsum.
					span.news__date 24.04.2001
					p.news__descr Lorem ipsum dolor sit amet....
					a.news__readmore(href="/news/{{ news.id }}")
						| Readmore
						span.news__read →
			article.news__card
				div.news__descr--wrapper
					h3.news__heading Lorem, ipsum.
					span.news__date 24.04.2001
					p.news__descr Lorem ipsum dolor sit amet....
					a.news__readmore(href="/news/{{ news.id }}")
						| Readmore
						span.news__read →
			article.news__card
				div.news__descr--wrapper
					h3.news__heading Lorem, ipsum.
					span.news__date 24.04.2001
					p.news__descr Lorem ipsum dolor sit amet....
					a.news__readmore(href="/news/{{ news.id }}")
						| Readmore
						span.news__read →