extends ../template.pug
block link
	-var selected = 'Info'
block title
	| Crypto Agent Bot: CAB - Crypto Agent Bot CAB Review: Cryptocurrency Trade Signals Group Telegram
block content
	main.maincontent
		.container
			section.first-section
				h2.first-section__heading(data-localize="fs.heading1") Если вы уже знаете, что такое Bitcoin и вы слышали о других криптовалютах, можете сразу перейти к презентации нашей команды. Если вы не знаете, что такое Bitcoin, уделите нам пару минут и посмотрите, почему Bitcoin (или иная криптовалюта) в ближайшие годы станет лидером финансового мира.
				a.telegram__link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам уже сегодня
				iframe.first-section__video(src="https://www.youtube.com/embed/wrdjlX0Cx0Q" frameborder="0" allowfullscreen="allowfullscreen")
				p.text(data-localize="fs.text1") Мы являемся международной группой аналитиков и трейдеров, действующих на рынке криптовалют уже многие годы. У нас большой опыт и мы добиваемся очень хороших результатов в этой быстро развивающейся экономической системе.Мы хотели бы поделиться с Вами нашими блестящими знаниями и пригласить вас к совместному бизнесу на высокоприбыльном рынке.
				a.telegram__link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам уже сегодня
			section.second-section
				h2.heading(data-localize="ss.heading1") Благодаря нам Вы получите:
				ol.second-section__list
					li.second-section__item
						span.text(data-localize="ss.text1") Стабильную ежегодную прибыль по инвестициям и финансовую прибыль на рынке криптовалют.
					li.second-section__item
						span.text(data-localize="ss.text2") Самую последнюю информацию о рынке криптовалют.
					li.second-section__item
						span.text(data-localize="ss.text3") Настоящий рост ваших финансовых ресурсов, и тем самым, вашего капитала.
					li.second-section__item
						span.text(data-localize="ss.text4") Единственное, в чем вы нуждаетесь, чтобы получать регулярную прибыль на рынке криптовалют – это сигналы и точки входа и выхода в конкретные криптовалюты.
					li.second-section__item
						span.text(data-localize="ss.text5") Мы сотрудничаем с двумя крупнейшими, международными онлайн-системами обмена валют (Bittrex, Poloniex).
					li.second-section__item
						span.text(data-localize="ss.text6") Стабильную ежегодную прибыль по инвестициям и финансовую прибыль на рынке криптовалют.
				h2.heading(data-localize="ss.heading2") Что вы получите от команды благодаря Crypto Agent Bot (CAB)?
				p.text(data-localize="ss.text7") Мы научим вас, как завоевать рынок криптовалют, благодаря чему вы не будете беспокоиться о том, что у вас нет опыта в этой области.• Мы займемся всеми техническими и аналитическими вопросами, поскольку у нас работают профессионалы и мы целенаправлены, о чем вы скоро убедитесь.
				p.text(data-localize="ss.text8") Вместе с нами вы достигнете финансовой независимости. Ежедневные (кратко-, средне- и долгосрочные) сигналы по криптовалюте. У вас будет доступ к уникальному и очень привлекательному плану вознаграждений для рекомендательной системы и вы заработаете приблизительно 60% к 10 уровням от всех привлеченных вами в программу участников. Вы можете это рассматривать как источник дополнительного дохода. Лучшие партнеры зарабатывают даже несколько десяток BTC в месяц, только привлекая других участников. Даже несколько раз в день вы получите информацию о самой перспективной криптовалюте с целью инвестировать с хорошей перспективой развития. Поддержка в создании инвестиционного портфолио
				a.telegram__link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам уже сегодня
			section.third-section
				p.text(data-localize="ts.text1") Мы являемся продвинутой инвестиционной группой и обеспечиваем высококачественные услуги на рынке криптовалют. Мы будем участвовать в этом рынке до тех пор, пока он будет существовать.
				p.text(data-localize="ts.text2") Сперва вы инвестируете в себя, потому что мы не возьмем с вас денег, чтобы ими управлять!
				p.text(data-localize="ts.text3") У вас будет полный контроль над управлением собственным счетом и ростом вашего портфолио.
				p.text(data-localize="ts.text4") Если вы хотите воспользоваться нашими уникальными услугами, выберите один из пакетов!
				p.text(data-localize="ts.text5") В связи с динамическим ростом ценности системы Bitcoin в последнее время вышеуказанные цены понизились!
				img.img.third-section__img(src="../img/cab-price-ru.jpeg")
			section.fourth-section
				p.text(data-localize="frs.text1") Мы считаемся пионерами на рынке криптовалют. Мы хотим, чтобы больше людей присоединилось к технологиям Bitcoin, Altcoins (криптовалют) и Blockchain. Это большой потенциал, который вам нельзя игнорировать. В связи с возрастающей популярностью Crypto Agent Bot, мы решили вознаграждать тех пользователей, которые привлекают других участников! Это система 3x win
				p.text(data-localize="frs.text2") Вы зарабатываете, рекомендуя замечательный продукт, зато новые пользователи рады присоединиться к программе, потому что она очень эффективна!
				p.text(data-localize="frs.text3") Именно поэтому, мы создали очень привлекательный план компенсаций и бонусов:
				img.img.fourth-section__img(src="../img/compensationplan1_ru.jpg")
				img.img.fourth-section__img(src="../img/compensationplan2_ru.jpg")
				a.telegram__link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам уже сегодня
			section.fiveth-section
				h2.heading(data-localize="fvs.heading1") Опыт
				p.text(data-localize="fvs.text1") У нас более, чем четырнадцатилетний опыт анализа и торговли на фондовом рынке, 2 года тому назад мы полностью перешли на криптографический рынок.
				p.text(data-localize="fvs.text2") Причиной этого НЕ являются деньги, но наше увлечение технологией Blockchain и готовность поделиться концепцией, с помощью которой можно создать лучший мир.
				p.text(data-localize="fvs.text3") Деньги появились случайно, притом серьезные деньги.
				h2.heading(data-localize="fvs.heading2") Почему мы работаем с Ботом CAB Telegram?
				p.text(data-localize="fvs.text4") Сегодня каждый из нас ежедневно пользуется такими мессенджерами как WhatsApp или Telegram. Этот тренд будет расти в будущем.
				p.text(data-localize="fvs.text5") Telegram использует роботы, которые уже очень зрелые, но использует также искусственный интеллект. Именно поэтому мы хотим продолжать этот тренд и постоянно совершенствовать нашего бота.
				p.text(data-localize="fvs.text6") В прошлом мы научились тому, что успех также имеет свои недостатки. Мы являемся элитной группой, которая ценит неприкосновенность личной жизни и семейную жизнь. Мы знаем, что наша деятельность неудобна для некоторых людей, в особенности для самопровозглашенных трейдеров, которые продают бесполезные сигналы и курсы. Если вы присоединитесь к нашей группе, вы поймете почему.
				p.text(data-localize="fvs.text7") Вы должны понять, что мы НЕ специалисты по маркетингу и не хотим обращать на себя внимание!
				p.text(data-localize="fvs.text8") В последние месяцы, прежде чем мы завоевали (международный) рынок, мы тестировали систему Crypto Agent Bot с тестовой группой русскоязычных пользователей.
				p.text(data-localize="fvs.text9") Результаты теста и отзывы пользователей были положительные, в общем, мы добились потрясающих результатов.
				p.text(data-localize="fvs.text10") Еще никакая система не получила такой прибыли!
				ul.fiveth-section__list
					li.fiveth-section__item
						img.fiveth-section__img(src="../img/companies/Y4vShR1.png")
					li.fiveth-section__item
						img.fiveth-section__img(src="../img/companies/ISnzTEY.png")
					li.fiveth-section__item
						img.fiveth-section__img(src="../img/companies/nz23uGm.png")
					li.fiveth-section__item
						img.fiveth-section__img(src="../img/companies/Iq1gfkC.png")
				h2.heading(data-localize="fvs.heading3") Как присоединиться к Crypto Agent Bot?
				ol.instruction__list
					li.instruction__item
						span.text(data-localize="fvs.text11") Установите приложение Telegram на свой смартфон (вы также можете пользоваться им на своем компьютере)
					li.instruction__item
						span.link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам
					li.instruction__item
						span.text(data-localize="fvs.text12") Присоединитесь к группе и нажмите / старт
					li.instruction__item
						span.text(data-localize="fvs.text13") Когда вы уже в группе, нажмите «Присоединиться к группе или поделиться контактом», и вы увидите следующее:
						img.img.instruction__img(src="../img/4a-1.png")
					li.instruction__item
						span.text(data-localize="fvs.text14") Нажмите «Купить подписку», ("Purchase subscription", выберите пакет и отправьте сумму в биткойнах на данный кошелек).
						img.img.instruction__img(src="../img/6-2.png")
					li.instruction__item
						span.text(data-localize="fvs.text15") Вы получите сообщение в приложении Telegram, когда будет получена сумма, которую вы отправляете в биткойнах.
						img.img.instruction__img(src="../img/7-2.png")
					li.instruction__item
						span.text(data-localize="fvs.text16") Нажмите «Финансы (Finance)», затем «Платить за пакет (Pay for package)».
						img.img.instruction__img(src="../img/8-2.png")
						img.img.instruction__img(src="../img/9-2.png")
					li.instruction__item
						span.text(data-localize="fvs.text17") Поздравляем! Вы уже член группы и будете получать сигналы
					a.telegram__link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам уже сегодня
			section.sixth-section
				p.text(data-localize="sxs.text1") Кроме того, для вашего удобства мы предоставляем BitPoly, который является автоматом для выполнения ваших сделок. Вы не обязаны им пользоваться.
				p.text(data-localize="sxs.text2") Помните! Все сделки могут вами осуществляться вручную на счету, но вы также можете воспользоваться BitPoly. Это легко.
				h3.heading(data-localize="sxs.heading1") Как установить «BitPoly»?
				ol.bitpoly__list
					li.bitpoly__item
						span.text(data-localize="sxs.text3") В приложении Telegram нажмите кнопку поиска и найдите контакт BitPolyBot: https://t.me/BitPolyBot
						p.text(data-localize="sxs.text4") Внимание! Приложение доступно только членам нашей группы.
					li.bitpoly__item
						span.text(data-localize="sxs.text5")  Присоединитесь к группе и нажмите / старт
					li.bitpoly__item
						span.text(data-localize="sxs.text6") Когда вы уже член группы, нажмите «Отправить мой контакт»
					li.bitpoly__item
						span.text(data-localize="sxs.text7") Внизу нажмите «Настройки (Settings)»
						img.img.bitpoly__img(src="../img/10-2.png")
					li.bitpoly__item
						span.text(data-localize="sxs.text8") Нажмите Bittrex или Poloniex в зависимости от того, каким обменником вы пользуетесь (вы можете использовать оба)
						img.img.bitpoly__img(src="../img/11-2.png")
					li.bitpoly__item
						span.text(data-localize="sxs.text9") Введите API-ключ и секретный ключ
				h3.heading(data-localize="sxs.heading2") Как получить API-ключ на Bittrex?
				p.text(data-localize="sxs.text10") Войдите в свой аккаунт Bittrex.
				img.img(src="../img/12-2.png")
				ol.bittrex__list
					li.bittrex__item
						span.text(data-localize="sxs.text11") Нажмите «Установки»
					li.bittrex__item
						span.text(data-localize="sxs.text12") Затем нажмите «API-ключи»
					li.bittrex__item
						span.text(data-localize="sxs.text13") И «Добавить новый ключ»
					li.bittrex__item
						span.text(data-localize="sxs.text14") Включить параметры “READ INFO”, „TRADE LIMIT”, „TRADE MARKET”
						p.text(data-localize="sxs.text15") ВНИМАНИЕ! Параметр „WITHDRAWAL” должен быть выключен – для обеспечения дополнительного уровня безопасности ваших средств
					li.bittrex__item
						span.text(data-localize="sxs.text16") Введите код двухфакторной аутентификации (требуется двухэтапная аутентификация)
					li.bittrex__item
						span.text(data-localize="sxs.text17") Чтобы завершить процесс, нажмите «Обновить ключи»
					li.bittrex__item
						span.text(data-localize="sxs.text18") Скопируйте и вставьте 2 кода, то есть ключ (key) и секретный ключ (secret key) в BitPoly
				a.telegram__link(href="https://t.me/Crypto_AgentBot?start=486222844" data-localize="telegram-link") Присоединитесь к нам уже сегодня
			section.seventh-section
				p.text(data-localize="svs.text1") Вот несколько примеров сообщений и сигналов покупки, которые вы получаете непосредственно в приложении Telegram
				img.img(src="../img/14-2.png")
				img.img(src="../img/13-2.png")
				p.text(data-localize="svs.text2") 24 часа спустя
				img.img(src="../img/15-2.png")
				img.img(src="../img/16-2.png")
				p.text(data-localize="svs.text3") Цель была достигнута, подтверждение прибыли + сигнал покупки
				img.img(src="../img/17-2.png")
				p.text(data-localize="svs.text4") Заказ на продажу на моем аккаунте Bittrex от BitBay, отправленный непосредственно в Telegram
				img.img(src="../img/18-2.png")
				p.text(data-localize="svs.text5") Через 48 часов цель была достигнута
				img.img(src="../img/18a-2.png")
				p.text(data-localize="svs.text6") Более 10 сигналов сегодня утром (10 сентября 2017 года) !!
				p.text(data-localize="svs.text7") Торговля становится детской игрой
				img.img(src="../img/19-2.jpg")
				img.img(src="../img/20-2.jpg")
				p.text(data-localize="svs.text8") Обновление – сигналы с 5 по 9 ноября 2017 года.
				img.img(src="../img/22a-2.png")
		include ../components/backToTop/scroll
